<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ranking</title>
    <link rel="stylesheet" href="{% static 'css/ranking.css' %}" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>

    <nav id="navbar">
      <div  class="logo"><a href="{% url 'index' %}"><img id='logo'src="{% static 'img/logo.png' %}" alt=""></a></div>
      <div class="nav-content">
        <a href="{% url 'index' %}"><p>HOME</p></a>
        <a href="{% url 'services' %}"><p>SERVICES</p></a>
        <a href="{% url 'ranking_sub' %}"><p>RANKING</p></a>
        <a href="{% url 'blog' %}"><p>BLOG</p></a>
        <a href="{% url 'contact' %}"><p>CONTACT</p></a>
      </div>
      <a class='menu' id='menu' href=""><p>MENU</p></a>
    </nav>
    <header>
      <h1>Ranking</h1>
      <p>구독자 급상승 채널</p>
    </header>
  

    <main>
      <section class="body_text">
        <div class="ranking_menu">
          <div><i class="fab fa-youtube"></i> <a href="{% url 'ranking_sub' %}">유튜브 구독자 순위</a></div>
          <div><i class="fas fa-play-circle"></i> <a href="{% url 'ranking_view' %}">유튜브 조회수 순위</a></div>
          <div><i class="fas fa-play-circle"></i> <a href="{% url 'ranking_avgview' %}">평균 조회수 순위</a></div>
          <div><i class="fas fa-fire"></i> <a href="{% url 'ranking_hot' %}">구독자 급상승 채널</a></div>
        <!-- <div><i class="fas fa-folder"></i> <a href="">카테고리별 순위</a></div> -->
        </div>

        <table class="ranking">
          <tr style="color: white; background-color: #662ac7; font-weight: bold;">
              <td>순위</td>   <!-- 1행 1열-->
              <td>채널명</td> <!-- 1행 2열-->
              <td>카테고리</td> <!-- 1행 3열-->
              <td>구독자 상승률<br />(지난주 대비)</td>
              <td>누적 구독자수</td>
              <td>영상별 평균조회수</td>
          </tr>
          {% for rank, img_url,link ,name, category, subs, gains, views in htmlhot %}
          
          <tr style="border-top:1px solid black;">
          
              <td>{{rank}}</td>   <!-- 2행 1열-->
              <td class="icon"><img src="{{img_url}}"><a href="https://www.youtube.com/channel/{{link}}" target="new">{{name}}</a></td>     <!-- 2행 2열-->
              <td>{{category}}</td>    <!-- 2행 3열-->
              <td>{{gains}}</td>
              <td>{{subs}}</td>
              <td>{{views}}</td>
          </tr>
          {% endfor %}
        </table>
      </section>

      <section class="intro">
        <div>
        <span class="profile">
          <span>
            <h1><a href="https://brunch.co.kr/@yyjzang/230" target="_blank">아무 노래 챌린지로 본 베트남 마케팅</a></h1>
          </span>
          <br />
          <span class="num">
            <p>베트남의 민감한 트렌드를 주도하는 층은 10,20대이다. 이들은 95년 도이머이 정책 이후 고성장을 하는 베트남에서 태어났다.<br />
               서구문물들이 밀물듯이 들어왔고, 스마트폰을 어릴 때부터 쥔 그들은 SNS는 곧 놀이터나 다름없었다. <br />
               새로운 문화와 트렌드에 매우 개방적이면서, SNS에서 자신을 뽐내고 표현하기를 바란다. <br />
              ...<br />
              <a href="#SeeMore"><button id="btn" type="submit">자세히 보기</button></a></p>
          </span>

        </div>
        </span>
      </section>
    </main>

    <footer>
      <div class="f-container">
        <div class="logo"><img src="{% static 'img/logo.png' %}" alt=""></div>
        <br>
        <div class="p">
          <p>HOME</p>
          <p>ABOUT</p>
          <p>TERM</p>
          <p>PRIVACY</p>
        </div>
        <br>
        <span>Copyright © 2020 VF. All Rights Reserved.

        </span>
      </div>
    </footer>
    <script src= "{% static 'js/first.js' %}" ></script>
  </body>
</html>
