* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo img {
  width: 50px;
  background-color: #662ac7;
  border-radius: 100%;
}
.logo img:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

nav .logo img {
  margin-left: 1rem;
}
#navbar {
  position: relative;
  overflow: hidden;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: baseline;
  align-content: center;
  transition: 0.4s;
  z-index: 1;
  font-family: "Montserrat", sans-serif;
}
nav a {
  color: gray;
  text-decoration: none;
}
nav a:hover {
  color: black;
  transition: 0.3s;
}

.nav-content {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 1.2rem;
  margin-right: 1rem;
}

.nav-content p {
  padding: 0 1rem;

  text-decoration: none;
}

a.menu {
  display: none;
  font-size: 1.5rem;
  padding-right: 2rem;
}

.contact-section {
  height: 180vh;
  padding: 10rem 0;
}

.container {
  align-content: center;
  align-items: center;
}

header {
  margin-top: 15rem;
  height: 20vh;
  text-align: center;
  align-items: center;
  align-content: center;
}

#title {
  display: block;
  text-align: center;
  font-size: 4em;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 2rem;
}

header p {
  font-size: 20px;
  padding: 0 5rem;
}

header h1 {
  padding-bottom: 1rem;
}

.head {
  margin: 7rem 0;
}
.row {
  width: 80vw;
  display: flex;
  flex-direction: column;
}
.form-group {
  display: flex;
  flex-direction: column;
}

input {
  border: none;
  border-bottom: 1px solid #535353;
  padding: 15px 20px;
}
input:focus {
  outline: none;
  border: none;
  border-bottom: 2px solid darkred;
}

form {
  width: 100%;
}
label {
  display: initial;
}

.name_company,
.email_phone {
  display: grid;
  grid-template-columns: 30rem 30rem;
  row-gap: 2rem;
  justify-content: space-evenly;
  padding-top: 2rem;
}

.inquiry {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 30rem 30rem;
  padding-top: 2rem;
}

.name_company input,
.email_phone input {
  width: 25rem;
}
.inquiry input {
  width: 59rem;
}

textarea {
  display: block;
  width: 55rem;
}

#btn {
  border: none;
  width: 10rem;
  height: 2.5rem;
  margin-top: 5rem;
  background: #662ac7;
  outline: 2px solid #662ac7;
  color: white;
  font-size: 1rem;
  margin-left: 3rem;
}
#btn:hover {
  background: transparent;
  transition: 0.4s;
  color: #662ac7;
}

.f-container {
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: center;
  align-items: center;
  background-color: #e3e3e3;
  align-content: center;
}

footer p {
  margin: 1rem;
  display: inline-flex;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.shadow {
  box-shadow: 0 4px 5px -2px #525050;
}

@media (max-width: 1000px) {
  header {
    padding: 3rem 0;
  }

  .contact-form {
    justify-content: center;
  }

  .name_company,
  .email_phone,
  .inquiry {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 1rem;
  }

  #id_contents {
    padding-top: 2rem;
    width: 25rem;
  }
}
